.main-container-1 {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.background-image-1 {
  width: 100%;
  height: 100vh;
  background-image: url('src/images/Back01.png');
  background-size: 100% 100%; /* Preenche toda a área de visualização */
  background-position: center center; /* Centralize a imagem */
  background-repeat: no-repeat; /* Evite a repetição da imagem */
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: left;
}

.title-1 {
  margin: 0;
  padding: 0;
  background-color: transparent;
  max-width: 50%; /* Define a largura máxima de 50% da tela */
  word-wrap: break-word; /* Permite que as palavras se quebrem para a próxima linha */
  animation: slideLeftHeading 5s linear 1 forwards; /* Apenas uma vez */
  font-size: 2em;
}

.paragraph-1 {
  margin: 0;
  padding: 0;
  background-color: transparent;
  max-width: 50%; /* Define a largura máxima de 50% da tela */
  word-wrap: break-word; /* Permite que as palavras se quebrem para a próxima linha */
  animation: slideLeftParagraph 5s linear 1 forwards; /* Apenas uma vez */
  font-size: 1.2em;
}

@keyframes slideLeftHeading {
  0% {
    transform: translateX(0%); /* Início da tela */
  }
  100% {
    transform: translateX(-40%); /* Parada no limite esquerdo */
  }
}

@keyframes slideLeftParagraph {
  0% {
    transform: translateX(0%); /* Início da tela */
  }
  100% {
    transform: translateX(-45%); /* Parada no limite esquerdo */
  }
}

.main-container-2 {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.background-image-2 {
  width: 100%;
  height: 100%;
  background-image: url('src/images/sobremesa.jpeg'); /* Adicione sua imagem de fundo aqui */
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  align-items: center;
}

.info-box {
  position: absolute;
  max-width: 30%;
  left: 10%; /* Ajuste a posição esquerda conforme necessário */
  background-color: rgba(0, 0, 0, 0.3); /* Cor de fundo quase transparente */
  padding: 20px;
  color: white;
}

.title-2 {
  font-size: 2em;
  margin-bottom: 10px;
}

p {
  font-size: 1.7em;
  margin: 0;
}


@media (max-width: 1360px) {
  .title-1 {
    font-size: 1.5em; /* Reduza o tamanho do título em telas menores */
    max-width: 80%; /* Reduza a largura máxima para evitar corte */
  }

  .paragraph-1 {
    font-size: 1em;
    max-width: 50%;
    padding: 10px; /* Aumente o espaçamento interno horizontal */
    margin-left: 100px; /* Adicione uma margem esquerda para evitar corte */
  }
}